.scout-sort {
  margin-left: 5em;
  font-weight: normal;
  font-style: normal;
  margin: 1em 1em 1em 0;
  display: block;
}

.scout-sort-buttons {
    margin: 0 1em 0 0;
    border: 0;
    padding: 6px;
    background-color: gainsboro;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    color: darkslategray;
}
.scout-sort-buttons:hover {
  background-color: lightgray;
}
